<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link  rel=stylesheet type=text/css href="{{ url_for('static', filename='main.3f6952e4.css') }}">
  <style>
    #container{
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #c-404{
      font-size: 84px;
      font-weight: bolder;
    }
      #container>a{
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 15px;
      }
  </style>
  <title>404 Page not Found</title>
</head>
<body>
  <div id="container">
    <h1 id="c-404">404</h1>
    <h2>Oops! Looks like the page doesn't exist anymore</h2>
    <a href="/index">Go To Home Page</a>
  </div>
</body>
</html>