<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Angelo Diepe" name="author">

  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>About | Angelo</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>
<style>
  #link-contact{
    font-weight: bolder;
    background-color: black;
    color: white;
    padding: 5px;
    transition: all 0.09s ease;
  }
  #link-contact:hover{
    background-color: white;
    color: black;
  }
  .resume{
      align-self: center;
      background-color: black;
      color: white;
      font-weight: 500;
      font-size: 14px;
      height: 100%;
      width: 100%;
      padding: 7.5px;
    }
    .resume:hover{
      background-color: white;
      color: black;
    }
</style>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index" title="">01 : Home</a></li>
          <li><a href="./works" title="">02 : Works</a></li>
          <li><a href="./about" title="">03 : About me</a></li>
          <li><a href="./contact" title="">04 : Contact</a></li>
          <li><a href="./blog" title="">05 : Blog</a></li>
           <span><a href="./resume" title="" class="resume">Get Resume</a></span>
        </ul>


      </div>
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <p>Hi, It's Angelo, Software Developer and Network Administrator based in Cameroon, Studies in IUT Douala and by July will be in possession of DUT in Network and Telecommunication 😋.

                  Passionate software dev who loves learning new Techs and has an eye on Design, is dynamic, creative, open minded and strives at problem solving. Is a critical thinker, loves working in a team and is enthusiastic about Artificial Intelligence.
                  If you would like to build something together or just chat, let's
                  <a href="/contact" id="link-contact">
                  get in touch!
                  </a>

                  </p>
                  <h3>Also Likes</h3>
                  <p>
                  Basketball, Gaming, Mangas
                  </p>
                  <h3>Skills</h3>
                  <span style="text-decoration: underline;">Frontend Skills</span>
                  <p style="padding: 0px;margin: 0px;">
                  HTML, CSS3, JAVASCRIPT, BOOTSTRAP, TACHYONS, PUG, JSON, REACT (REDUX)</p>
                  <span style="text-decoration: underline;">Backend Skills</span>
                  <p style="padding: 0px;margin: 0px;">
                  NODE, EXPRESS, MYSQL, POSTGRESQL, FLASK</p>
                  <span style="text-decoration: underline;">Other Skills</span>
                  <p style="padding: 0px;margin: 0px;">
                    PYTHON, GIT/GITHUB, HEROKU, NETLIFY, POSTMAN, JEST, PHOTOSHOP, ADOBE XD, UI DESIGN, LINUX, SSH, NETWORK ADMINISTRATION
                  </p>
                 <span style="text-decoration: underline;">Speaks</span>
                  <p style="padding: 0px;margin: 0px;">
                  English & French</p>
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profilz.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Angelo | 2020</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>