<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Angelo Diepe" name="author">
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">
  <style>
    .resume {
      align-self: center;
      background-color: black;
      color: white;
      font-weight: 500;
      font-size: 14px;
      height: 100%;
      width: 100%;
      padding: 7.5px;
    }

    .resume:hover {
      background-color: white;
      color: black;
    }
  </style>
  <title>Works | Angelo</title>

  <link href="./static/main.3f6952e4.css" rel="stylesheet">
</head>

<body class="">
  <div id="site-border-left"></div>
  <div id="site-border-right"></div>
  <div id="site-border-top"></div>
  <div id="site-border-bottom"></div>

  <header>
    <nav class="navbar  navbar-fixed-top navbar-default">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav ">
            <li><a href="./index" title="">01 : Home</a></li>
            <li><a href="./works" title="">02 : Works</a></li>
            <li><a href="./about" title="">03 : About me</a></li>
            <li><a href="./contact" title="">04 : Contact</a></li>
            <li><a href="./blog" title="">05 : Blog</a></li>
            <span><a href="./resume" title="" class="resume">Get Resume</a></span>
          </ul>


        </div>
      </div>
    </nav>
  </header>

  <div class="section-container">
    <div class="container">
      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
          <div class="text-center">
            <h1 class="h2">02 : Works</h1>
            <p>Some enterprise projects, personnal projects and some done with friends.
              Projects to get my hands dirty and to showcase my skills
          </div>
        </div>

        <div class="col-md-12">

          <div id="myCarousel" class="carousel slide projects-carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-sm-4">

                    <a href="https://adaalearning.com" title="adaalearning">
                      <img src="./static/assets/images/work001.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>001/012</h4>
                      <h3>ADAA LEARNING</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Adaa Learning is an online learning platform through video mode
                        courses at the
                        application prepared and published by expert trainers in more than 25 specialties
                        <br /><b>Techs</b> : React,Redux,CSS <code style='color:#0091ff;'><b>[Frontend-only]</b></code>
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <a href="https://adaalearning.com" title="" class="btn btn-primary">Visit</a>
                        <!-- <a href="https://github.com/artemesian/smartbrain" title="" class="btn btn-default">Code</a> -->

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">

                    <a href="" title="gm files">
                      <img src="./static/assets/images/work002.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>002/012</h4>
                      <h3>GAMESMANIA FILES</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Cloud files storage platform
                        <br /><b>Techs</b> : React,Material UI, uppy.io, stripe API <code
                          style='color:#0091ff;'><b>[Frontend-only]</b></code>
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <!-- <a href="https://github.com/artemesian/smartbrain" title="" class="btn btn-primary">Visit</a> -->
                        <!-- <a href="https://github.com/artemesian/smartbrain" title="" class="btn btn-default">Code</a> -->

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">

                    <a href="https://adaajobs.com" title="adaajobs">
                      <img src="./static/assets/images/work003.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>003/012</h4>
                      <h3>ADAA JOBS</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Find your dream job via AdaaJobs
                        <br /><b>Techs</b> : React,Redux,CSS <code style='color:#0091ff;'><b>[Frontend-only]</b></code>
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <a href="https://adaajobs.com" title="" class="btn btn-primary">Visit</a>
                        <!-- <a href="https://github.com/artemesian/smartbrain" title="" class="btn btn-default">Code</a> -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">

                  <div class="col-sm-4">

                    <a href="https://crwncloth.netlify.app/" title="crwn clothing">
                      <img src="./static/assets/images/work004.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>004/012</h4>
                      <h3>CRWN CLOTHING</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">E-commerce Plateforme
                        <br /><b>Techs</b> : React,Redux,SASS, Firebase, Redis, GraphQL, Stripe API
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <a href="https://crwncloth.netlify.app/" title="" class="btn btn-primary">Visit</a>
                        <a href="https://github.com/artemesian/crwn-clothing" title="" class="btn btn-default">Code</a>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="https://github.com/artemesian/smartbrain" title="smartbrain">
                      <img src="./static/assets/images/work005.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>005/012</h4>
                      <h3>SMARTBRAN</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Face recognition app made using the clarifai API
                        <br /><b>Techs</b> : React,Redux,CSS,Express,Node,PostgreSQL,Clarifai API
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <!-- <a href="https://github.com/artemesian/smartbrain" title="" class="btn btn-primary">Visit</a> -->
                        <a href="https://github.com/artemesian/smartbrain" title="" class="btn btn-default">Code</a>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="https://xd.adobe.com/view/6ada4af3-f9b7-486c-8468-6b0594745030-3f89/specs/"
                      title="Portfolio design">
                      <img src="./static/assets/images/work006.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>006/012</h4>
                      <h3>NEW PORTFOLIO</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;"> (Upcoming portofolio 🚀)
                        <br /><b>Techs</b> : React,Redux,SASS,Express,Node,PostgreSQL
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <a href="https://xd.adobe.com/view/6ada4af3-f9b7-486c-8468-6b0594745030-3f89/specs/" title=""
                          class="btn btn-primary" style="background-color: #AF00FC; color: white; border: none;">View
                          Design</a>
                        <!-- <a href="https://github.com/artemesian/crwn-clothing" title="" class="btn btn-default">Code</a> -->

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-4">
                    <a href="https://github.com/artemesian/intralink" title="netcode intralink">
                      <img src="./static/assets/images/work007.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>007/012</h4>
                      <h3>INTRALINK</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">(In Progress!) Local Community Plateform for IUT Douala where you can
                        chat, watch articles, participate in a class all working without Internet
                        <br /><b>Techs</b> : React,Redux,CSS,Node,PostgreSQL, Socket.io, Redis,VoIP,Network
                        Administration
                      </p>
                      <div>
                        <!-- <a href="https://github.com/artemesian/intralink" class="btn btn-primary">Visit</a> -->
                        <a href="https://github.com/artemesian/intralink" class="btn btn-default">Code</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="https://github.com/artemesian/robofriends" title="robofriends">
                      <img src="./static/assets/images/work008.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>008/012</h4>
                      <h3>ROBOFRIENDS</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Searchable list of Robots from the RoboHash API
                        <br /><b>Techs</b> : React,Redux,CSS,RoboHash API
                      <div>
                        <!-- <a href="https://github.com/artemesian/robofriends" class="btn btn-primary">Visit</a> -->
                        <a href="https://github.com/artemesian/robofriends" class="btn btn-default">Code</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <a href="https://github.com/artemesian/translating" title="translating app">
                      <img src="./static/assets/images/work009.jpg" alt="Image" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>009/012</h4>
                      <h3>TRANSLATING</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Translating app where you can search word's translations,test your
                        knowledge of a certain language and add words for your local database
                        <br /><b>Techs</b> : React,Redux,CSS,Node,Express,PostgreSQL,IBM-Watson API
                      </p>
                      <div>
                        <a href="https://translating.netlify.app/" class="btn btn-primary">Visit</a>
                        <a href="https://github.com/artemesian/translating" class="btn btn-default">Code</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-sm-4">

                    <a href="https://github.com/artemesian/calcoreact" title="calcoreact">
                      <img src="./static/assets/images/work010.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>010/012</h4>
                      <h3>CALCOREACT</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Simple Calculator
                        <br /><b>Techs</b> : React,CSS
                      </p>
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <!-- <a href="https://github.com/artemesian/calcoreact" title="" class="btn btn-primary">Visit</a> -->
                        <a href="https://github.com/artemesian/calcoreact" title="" class="btn btn-default">Code</a>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">

                    <a href="https://play.google.com/store/apps/details?id=com.adaalearning" title="adaalearning app">
                      <img src="./static/assets/images/work011.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>011/012</h4>
                      <h3>ADAA LEARNING Mobile-App</h3>
                      <p style="word-break: keep-all;
                         word-wrap: break-word;">Adaa Learning is an online learning platform through video mode
                        courses at the
                        application prepared and published by expert trainers in more than 25 specialties
                        <br /><b>Techs</b> : React-Native,UI-Kitten,Redux,Expo <code
                          style='color:#0091ff;'><b>[Frontend-only]</b></code>
                      </p>
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <a href="https://play.google.com/store/apps/details?id=com.adaalearning" title=""
                          class="btn btn-primary">Visit</a>
                        <!-- <a href="https://github.com/artemesian/calcoreact" title="" class="btn btn-default">Code</a> -->

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <a href="http://angelodiepe.pythonanywhere.com/" title="current Portfolio">
                      <img src="./static/assets/images/work012.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="card-container card-container-lg"
                      style="margin-top: -50px; box-shadow:0px 0px 5px 2px rgba(0,0,0,0.075);">
                      <h4>012/012</h4>
                      <h3>CURRENT PORTFOLIO</h3>
                      <p style="word-break: keep-all;
                        word-wrap: break-word;"> Current portfolio
                        <br /><b>Techs</b> : HTML,CSS,PYTHON,FLASK,CSV
                      </p>
                      <div style="display: flex;align-items: center;justify-content: space-between;">
                        <a href="http://angelodiepe.pythonanywhere.com/" title="" class="btn btn-primary">Visit</a>
                        <a href="https://github.com/artemesian/portfo" title="" class="btn btn-default">Code</a>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
          </div>


        </div>



      </div>
    </div>
  </div>


  <footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>© Angelo | 2021 </p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navActivePage();
    });
  </script>

  <script type="text/javascript" src="./static/main.70a66962.js"></script>
</body>

</html>
